@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-4 { margin: 4px; }
  .mt-sm-4 { margin-top: 4px; }
  .mb-sm-4 { margin-bottom: 4px; }
  .ml-sm-4 { margin-left: 4px; }
  .mr-sm-4 { margin-right: 4px; }
  .mx-sm-4 { margin-left: 4px; margin-right: 4px; }
  .my-sm-4 { margin-top: 4px; margin-bottom: 4px; }
  .p-sm-4 { padding: 4px; }
  .pt-sm-4 { padding-top: 4px; }
  .pb-sm-4 { padding-bottom: 4px; }
  .pl-sm-4 { padding-left: 4px; }
  .pr-sm-4 { padding-right: 4px; }
  .px-sm-4 { padding-left: 4px; padding-right: 4px; }
  .py-sm-4 { padding-top: 4px; padding-bottom: 4px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-8 { margin: 8px; }
  .mt-sm-8 { margin-top: 8px; }
  .mb-sm-8 { margin-bottom: 8px; }
  .ml-sm-8 { margin-left: 8px; }
  .mr-sm-8 { margin-right: 8px; }
  .mx-sm-8 { margin-left: 8px; margin-right: 8px; }
  .my-sm-8 { margin-top: 8px; margin-bottom: 8px; }
  .p-sm-8 { padding: 8px; }
  .pt-sm-8 { padding-top: 8px; }
  .pb-sm-8 { padding-bottom: 8px; }
  .pl-sm-8 { padding-left: 8px; }
  .pr-sm-8 { padding-right: 8px; }
  .px-sm-8 { padding-left: 8px; padding-right: 8px; }
  .py-sm-8 { padding-top: 8px; padding-bottom: 8px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-12 { margin: 12px; }
  .mt-sm-12 { margin-top: 12px; }
  .mb-sm-12 { margin-bottom: 12px; }
  .ml-sm-12 { margin-left: 12px; }
  .mr-sm-12 { margin-right: 12px; }
  .mx-sm-12 { margin-left: 12px; margin-right: 12px; }
  .my-sm-12 { margin-top: 12px; margin-bottom: 12px; }
  .p-sm-12 { padding: 12px; }
  .pt-sm-12 { padding-top: 12px; }
  .pb-sm-12 { padding-bottom: 12px; }
  .pl-sm-12 { padding-left: 12px; }
  .pr-sm-12 { padding-right: 12px; }
  .px-sm-12 { padding-left: 12px; padding-right: 12px; }
  .py-sm-12 { padding-top: 12px; padding-bottom: 12px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-16 { margin: 16px; }
  .mt-sm-16 { margin-top: 16px; }
  .mb-sm-16 { margin-bottom: 16px; }
  .ml-sm-16 { margin-left: 16px; }
  .mr-sm-16 { margin-right: 16px; }
  .mx-sm-16 { margin-left: 16px; margin-right: 16px; }
  .my-sm-16 { margin-top: 16px; margin-bottom: 16px; }
  .p-sm-16 { padding: 16px; }
  .pt-sm-16 { padding-top: 16px; }
  .pb-sm-16 { padding-bottom: 16px; }
  .pl-sm-16 { padding-left: 16px; }
  .pr-sm-16 { padding-right: 16px; }
  .px-sm-16 { padding-left: 16px; padding-right: 16px; }
  .py-sm-16 { padding-top: 16px; padding-bottom: 16px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-24 { margin: 24px; }
  .mt-sm-24 { margin-top: 24px; }
  .mb-sm-24 { margin-bottom: 24px; }
  .ml-sm-24 { margin-left: 24px; }
  .mr-sm-24 { margin-right: 24px; }
  .mx-sm-24 { margin-left: 24px; margin-right: 24px; }
  .my-sm-24 { margin-top: 24px; margin-bottom: 24px; }
  .p-sm-24 { padding: 24px; }
  .pt-sm-24 { padding-top: 24px; }
  .pb-sm-24 { padding-bottom: 24px; }
  .pl-sm-24 { padding-left: 24px; }
  .pr-sm-24 { padding-right: 24px; }
  .px-sm-24 { padding-left: 24px; padding-right: 24px; }
  .py-sm-24 { padding-top: 24px; padding-bottom: 24px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-32 { margin: 32px; }
  .mt-sm-32 { margin-top: 32px; }
  .mb-sm-32 { margin-bottom: 32px; }
  .ml-sm-32 { margin-left: 32px; }
  .mr-sm-32 { margin-right: 32px; }
  .mx-sm-32 { margin-left: 32px; margin-right: 32px; }
  .my-sm-32 { margin-top: 32px; margin-bottom: 32px; }
  .p-sm-32 { padding: 32px; }
  .pt-sm-32 { padding-top: 32px; }
  .pb-sm-32 { padding-bottom: 32px; }
  .pl-sm-32 { padding-left: 32px; }
  .pr-sm-32 { padding-right: 32px; }
  .px-sm-32 { padding-left: 32px; padding-right: 32px; }
  .py-sm-32 { padding-top: 32px; padding-bottom: 32px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-48 { margin: 48px; }
  .mt-sm-48 { margin-top: 48px; }
  .mb-sm-48 { margin-bottom: 48px; }
  .ml-sm-48 { margin-left: 48px; }
  .mr-sm-48 { margin-right: 48px; }
  .mx-sm-48 { margin-left: 48px; margin-right: 48px; }
  .my-sm-48 { margin-top: 48px; margin-bottom: 48px; }
  .p-sm-48 { padding: 48px; }
  .pt-sm-48 { padding-top: 48px; }
  .pb-sm-48 { padding-bottom: 48px; }
  .pl-sm-48 { padding-left: 48px; }
  .pr-sm-48 { padding-right: 48px; }
  .px-sm-48 { padding-left: 48px; padding-right: 48px; }
  .py-sm-48 { padding-top: 48px; padding-bottom: 48px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-64 { margin: 64px; }
  .mt-sm-64 { margin-top: 64px; }
  .mb-sm-64 { margin-bottom: 64px; }
  .ml-sm-64 { margin-left: 64px; }
  .mr-sm-64 { margin-right: 64px; }
  .mx-sm-64 { margin-left: 64px; margin-right: 64px; }
  .my-sm-64 { margin-top: 64px; margin-bottom: 64px; }
  .p-sm-64 { padding: 64px; }
  .pt-sm-64 { padding-top: 64px; }
  .pb-sm-64 { padding-bottom: 64px; }
  .pl-sm-64 { padding-left: 64px; }
  .pr-sm-64 { padding-right: 64px; }
  .px-sm-64 { padding-left: 64px; padding-right: 64px; }
  .py-sm-64 { padding-top: 64px; padding-bottom: 64px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-96 { margin: 96px; }
  .mt-sm-96 { margin-top: 96px; }
  .mb-sm-96 { margin-bottom: 96px; }
  .ml-sm-96 { margin-left: 96px; }
  .mr-sm-96 { margin-right: 96px; }
  .mx-sm-96 { margin-left: 96px; margin-right: 96px; }
  .my-sm-96 { margin-top: 96px; margin-bottom: 96px; }
  .p-sm-96 { padding: 96px; }
  .pt-sm-96 { padding-top: 96px; }
  .pb-sm-96 { padding-bottom: 96px; }
  .pl-sm-96 { padding-left: 96px; }
  .pr-sm-96 { padding-right: 96px; }
  .px-sm-96 { padding-left: 96px; padding-right: 96px; }
  .py-sm-96 { padding-top: 96px; padding-bottom: 96px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-4 { margin: 4px; }
  .mt-md-4 { margin-top: 4px; }
  .mb-md-4 { margin-bottom: 4px; }
  .ml-md-4 { margin-left: 4px; }
  .mr-md-4 { margin-right: 4px; }
  .mx-md-4 { margin-left: 4px; margin-right: 4px; }
  .my-md-4 { margin-top: 4px; margin-bottom: 4px; }
  .p-md-4 { padding: 4px; }
  .pt-md-4 { padding-top: 4px; }
  .pb-md-4 { padding-bottom: 4px; }
  .pl-md-4 { padding-left: 4px; }
  .pr-md-4 { padding-right: 4px; }
  .px-md-4 { padding-left: 4px; padding-right: 4px; }
  .py-md-4 { padding-top: 4px; padding-bottom: 4px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-8 { margin: 8px; }
  .mt-md-8 { margin-top: 8px; }
  .mb-md-8 { margin-bottom: 8px; }
  .ml-md-8 { margin-left: 8px; }
  .mr-md-8 { margin-right: 8px; }
  .mx-md-8 { margin-left: 8px; margin-right: 8px; }
  .my-md-8 { margin-top: 8px; margin-bottom: 8px; }
  .p-md-8 { padding: 8px; }
  .pt-md-8 { padding-top: 8px; }
  .pb-md-8 { padding-bottom: 8px; }
  .pl-md-8 { padding-left: 8px; }
  .pr-md-8 { padding-right: 8px; }
  .px-md-8 { padding-left: 8px; padding-right: 8px; }
  .py-md-8 { padding-top: 8px; padding-bottom: 8px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-12 { margin: 12px; }
  .mt-md-12 { margin-top: 12px; }
  .mb-md-12 { margin-bottom: 12px; }
  .ml-md-12 { margin-left: 12px; }
  .mr-md-12 { margin-right: 12px; }
  .mx-md-12 { margin-left: 12px; margin-right: 12px; }
  .my-md-12 { margin-top: 12px; margin-bottom: 12px; }
  .p-md-12 { padding: 12px; }
  .pt-md-12 { padding-top: 12px; }
  .pb-md-12 { padding-bottom: 12px; }
  .pl-md-12 { padding-left: 12px; }
  .pr-md-12 { padding-right: 12px; }
  .px-md-12 { padding-left: 12px; padding-right: 12px; }
  .py-md-12 { padding-top: 12px; padding-bottom: 12px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-16 { margin: 16px; }
  .mt-md-16 { margin-top: 16px; }
  .mb-md-16 { margin-bottom: 16px; }
  .ml-md-16 { margin-left: 16px; }
  .mr-md-16 { margin-right: 16px; }
  .mx-md-16 { margin-left: 16px; margin-right: 16px; }
  .my-md-16 { margin-top: 16px; margin-bottom: 16px; }
  .p-md-16 { padding: 16px; }
  .pt-md-16 { padding-top: 16px; }
  .pb-md-16 { padding-bottom: 16px; }
  .pl-md-16 { padding-left: 16px; }
  .pr-md-16 { padding-right: 16px; }
  .px-md-16 { padding-left: 16px; padding-right: 16px; }
  .py-md-16 { padding-top: 16px; padding-bottom: 16px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-24 { margin: 24px; }
  .mt-md-24 { margin-top: 24px; }
  .mb-md-24 { margin-bottom: 24px; }
  .ml-md-24 { margin-left: 24px; }
  .mr-md-24 { margin-right: 24px; }
  .mx-md-24 { margin-left: 24px; margin-right: 24px; }
  .my-md-24 { margin-top: 24px; margin-bottom: 24px; }
  .p-md-24 { padding: 24px; }
  .pt-md-24 { padding-top: 24px; }
  .pb-md-24 { padding-bottom: 24px; }
  .pl-md-24 { padding-left: 24px; }
  .pr-md-24 { padding-right: 24px; }
  .px-md-24 { padding-left: 24px; padding-right: 24px; }
  .py-md-24 { padding-top: 24px; padding-bottom: 24px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-32 { margin: 32px; }
  .mt-md-32 { margin-top: 32px; }
  .mb-md-32 { margin-bottom: 32px; }
  .ml-md-32 { margin-left: 32px; }
  .mr-md-32 { margin-right: 32px; }
  .mx-md-32 { margin-left: 32px; margin-right: 32px; }
  .my-md-32 { margin-top: 32px; margin-bottom: 32px; }
  .p-md-32 { padding: 32px; }
  .pt-md-32 { padding-top: 32px; }
  .pb-md-32 { padding-bottom: 32px; }
  .pl-md-32 { padding-left: 32px; }
  .pr-md-32 { padding-right: 32px; }
  .px-md-32 { padding-left: 32px; padding-right: 32px; }
  .py-md-32 { padding-top: 32px; padding-bottom: 32px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-48 { margin: 48px; }
  .mt-md-48 { margin-top: 48px; }
  .mb-md-48 { margin-bottom: 48px; }
  .ml-md-48 { margin-left: 48px; }
  .mr-md-48 { margin-right: 48px; }
  .mx-md-48 { margin-left: 48px; margin-right: 48px; }
  .my-md-48 { margin-top: 48px; margin-bottom: 48px; }
  .p-md-48 { padding: 48px; }
  .pt-md-48 { padding-top: 48px; }
  .pb-md-48 { padding-bottom: 48px; }
  .pl-md-48 { padding-left: 48px; }
  .pr-md-48 { padding-right: 48px; }
  .px-md-48 { padding-left: 48px; padding-right: 48px; }
  .py-md-48 { padding-top: 48px; padding-bottom: 48px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-64 { margin: 64px; }
  .mt-md-64 { margin-top: 64px; }
  .mb-md-64 { margin-bottom: 64px; }
  .ml-md-64 { margin-left: 64px; }
  .mr-md-64 { margin-right: 64px; }
  .mx-md-64 { margin-left: 64px; margin-right: 64px; }
  .my-md-64 { margin-top: 64px; margin-bottom: 64px; }
  .p-md-64 { padding: 64px; }
  .pt-md-64 { padding-top: 64px; }
  .pb-md-64 { padding-bottom: 64px; }
  .pl-md-64 { padding-left: 64px; }
  .pr-md-64 { padding-right: 64px; }
  .px-md-64 { padding-left: 64px; padding-right: 64px; }
  .py-md-64 { padding-top: 64px; padding-bottom: 64px; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-96 { margin: 96px; }
  .mt-md-96 { margin-top: 96px; }
  .mb-md-96 { margin-bottom: 96px; }
  .ml-md-96 { margin-left: 96px; }
  .mr-md-96 { margin-right: 96px; }
  .mx-md-96 { margin-left: 96px; margin-right: 96px; }
  .my-md-96 { margin-top: 96px; margin-bottom: 96px; }
  .p-md-96 { padding: 96px; }
  .pt-md-96 { padding-top: 96px; }
  .pb-md-96 { padding-bottom: 96px; }
  .pl-md-96 { padding-left: 96px; }
  .pr-md-96 { padding-right: 96px; }
  .px-md-96 { padding-left: 96px; padding-right: 96px; }
  .py-md-96 { padding-top: 96px; padding-bottom: 96px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-4 { margin: 4px; }
  .mt-lg-4 { margin-top: 4px; }
  .mb-lg-4 { margin-bottom: 4px; }
  .ml-lg-4 { margin-left: 4px; }
  .mr-lg-4 { margin-right: 4px; }
  .mx-lg-4 { margin-left: 4px; margin-right: 4px; }
  .my-lg-4 { margin-top: 4px; margin-bottom: 4px; }
  .p-lg-4 { padding: 4px; }
  .pt-lg-4 { padding-top: 4px; }
  .pb-lg-4 { padding-bottom: 4px; }
  .pl-lg-4 { padding-left: 4px; }
  .pr-lg-4 { padding-right: 4px; }
  .px-lg-4 { padding-left: 4px; padding-right: 4px; }
  .py-lg-4 { padding-top: 4px; padding-bottom: 4px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-8 { margin: 8px; }
  .mt-lg-8 { margin-top: 8px; }
  .mb-lg-8 { margin-bottom: 8px; }
  .ml-lg-8 { margin-left: 8px; }
  .mr-lg-8 { margin-right: 8px; }
  .mx-lg-8 { margin-left: 8px; margin-right: 8px; }
  .my-lg-8 { margin-top: 8px; margin-bottom: 8px; }
  .p-lg-8 { padding: 8px; }
  .pt-lg-8 { padding-top: 8px; }
  .pb-lg-8 { padding-bottom: 8px; }
  .pl-lg-8 { padding-left: 8px; }
  .pr-lg-8 { padding-right: 8px; }
  .px-lg-8 { padding-left: 8px; padding-right: 8px; }
  .py-lg-8 { padding-top: 8px; padding-bottom: 8px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-12 { margin: 12px; }
  .mt-lg-12 { margin-top: 12px; }
  .mb-lg-12 { margin-bottom: 12px; }
  .ml-lg-12 { margin-left: 12px; }
  .mr-lg-12 { margin-right: 12px; }
  .mx-lg-12 { margin-left: 12px; margin-right: 12px; }
  .my-lg-12 { margin-top: 12px; margin-bottom: 12px; }
  .p-lg-12 { padding: 12px; }
  .pt-lg-12 { padding-top: 12px; }
  .pb-lg-12 { padding-bottom: 12px; }
  .pl-lg-12 { padding-left: 12px; }
  .pr-lg-12 { padding-right: 12px; }
  .px-lg-12 { padding-left: 12px; padding-right: 12px; }
  .py-lg-12 { padding-top: 12px; padding-bottom: 12px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-16 { margin: 16px; }
  .mt-lg-16 { margin-top: 16px; }
  .mb-lg-16 { margin-bottom: 16px; }
  .ml-lg-16 { margin-left: 16px; }
  .mr-lg-16 { margin-right: 16px; }
  .mx-lg-16 { margin-left: 16px; margin-right: 16px; }
  .my-lg-16 { margin-top: 16px; margin-bottom: 16px; }
  .p-lg-16 { padding: 16px; }
  .pt-lg-16 { padding-top: 16px; }
  .pb-lg-16 { padding-bottom: 16px; }
  .pl-lg-16 { padding-left: 16px; }
  .pr-lg-16 { padding-right: 16px; }
  .px-lg-16 { padding-left: 16px; padding-right: 16px; }
  .py-lg-16 { padding-top: 16px; padding-bottom: 16px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-24 { margin: 24px; }
  .mt-lg-24 { margin-top: 24px; }
  .mb-lg-24 { margin-bottom: 24px; }
  .ml-lg-24 { margin-left: 24px; }
  .mr-lg-24 { margin-right: 24px; }
  .mx-lg-24 { margin-left: 24px; margin-right: 24px; }
  .my-lg-24 { margin-top: 24px; margin-bottom: 24px; }
  .p-lg-24 { padding: 24px; }
  .pt-lg-24 { padding-top: 24px; }
  .pb-lg-24 { padding-bottom: 24px; }
  .pl-lg-24 { padding-left: 24px; }
  .pr-lg-24 { padding-right: 24px; }
  .px-lg-24 { padding-left: 24px; padding-right: 24px; }
  .py-lg-24 { padding-top: 24px; padding-bottom: 24px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-32 { margin: 32px; }
  .mt-lg-32 { margin-top: 32px; }
  .mb-lg-32 { margin-bottom: 32px; }
  .ml-lg-32 { margin-left: 32px; }
  .mr-lg-32 { margin-right: 32px; }
  .mx-lg-32 { margin-left: 32px; margin-right: 32px; }
  .my-lg-32 { margin-top: 32px; margin-bottom: 32px; }
  .p-lg-32 { padding: 32px; }
  .pt-lg-32 { padding-top: 32px; }
  .pb-lg-32 { padding-bottom: 32px; }
  .pl-lg-32 { padding-left: 32px; }
  .pr-lg-32 { padding-right: 32px; }
  .px-lg-32 { padding-left: 32px; padding-right: 32px; }
  .py-lg-32 { padding-top: 32px; padding-bottom: 32px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-48 { margin: 48px; }
  .mt-lg-48 { margin-top: 48px; }
  .mb-lg-48 { margin-bottom: 48px; }
  .ml-lg-48 { margin-left: 48px; }
  .mr-lg-48 { margin-right: 48px; }
  .mx-lg-48 { margin-left: 48px; margin-right: 48px; }
  .my-lg-48 { margin-top: 48px; margin-bottom: 48px; }
  .p-lg-48 { padding: 48px; }
  .pt-lg-48 { padding-top: 48px; }
  .pb-lg-48 { padding-bottom: 48px; }
  .pl-lg-48 { padding-left: 48px; }
  .pr-lg-48 { padding-right: 48px; }
  .px-lg-48 { padding-left: 48px; padding-right: 48px; }
  .py-lg-48 { padding-top: 48px; padding-bottom: 48px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-64 { margin: 64px; }
  .mt-lg-64 { margin-top: 64px; }
  .mb-lg-64 { margin-bottom: 64px; }
  .ml-lg-64 { margin-left: 64px; }
  .mr-lg-64 { margin-right: 64px; }
  .mx-lg-64 { margin-left: 64px; margin-right: 64px; }
  .my-lg-64 { margin-top: 64px; margin-bottom: 64px; }
  .p-lg-64 { padding: 64px; }
  .pt-lg-64 { padding-top: 64px; }
  .pb-lg-64 { padding-bottom: 64px; }
  .pl-lg-64 { padding-left: 64px; }
  .pr-lg-64 { padding-right: 64px; }
  .px-lg-64 { padding-left: 64px; padding-right: 64px; }
  .py-lg-64 { padding-top: 64px; padding-bottom: 64px; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-96 { margin: 96px; }
  .mt-lg-96 { margin-top: 96px; }
  .mb-lg-96 { margin-bottom: 96px; }
  .ml-lg-96 { margin-left: 96px; }
  .mr-lg-96 { margin-right: 96px; }
  .mx-lg-96 { margin-left: 96px; margin-right: 96px; }
  .my-lg-96 { margin-top: 96px; margin-bottom: 96px; }
  .p-lg-96 { padding: 96px; }
  .pt-lg-96 { padding-top: 96px; }
  .pb-lg-96 { padding-bottom: 96px; }
  .pl-lg-96 { padding-left: 96px; }
  .pr-lg-96 { padding-right: 96px; }
  .px-lg-96 { padding-left: 96px; padding-right: 96px; }
  .py-lg-96 { padding-top: 96px; padding-bottom: 96px; }
}
@media (min-width: 1280px) {
  .m-xl-4 { margin: 4px; }
  .mt-xl-4 { margin-top: 4px; }
  .mb-xl-4 { margin-bottom: 4px; }
  .ml-xl-4 { margin-left: 4px; }
  .mr-xl-4 { margin-right: 4px; }
  .mx-xl-4 { margin-left: 4px; margin-right: 4px; }
  .my-xl-4 { margin-top: 4px; margin-bottom: 4px; }
  .p-xl-4 { padding: 4px; }
  .pt-xl-4 { padding-top: 4px; }
  .pb-xl-4 { padding-bottom: 4px; }
  .pl-xl-4 { padding-left: 4px; }
  .pr-xl-4 { padding-right: 4px; }
  .px-xl-4 { padding-left: 4px; padding-right: 4px; }
  .py-xl-4 { padding-top: 4px; padding-bottom: 4px; }
}
@media (min-width: 1280px) {
  .m-xl-8 { margin: 8px; }
  .mt-xl-8 { margin-top: 8px; }
  .mb-xl-8 { margin-bottom: 8px; }
  .ml-xl-8 { margin-left: 8px; }
  .mr-xl-8 { margin-right: 8px; }
  .mx-xl-8 { margin-left: 8px; margin-right: 8px; }
  .my-xl-8 { margin-top: 8px; margin-bottom: 8px; }
  .p-xl-8 { padding: 8px; }
  .pt-xl-8 { padding-top: 8px; }
  .pb-xl-8 { padding-bottom: 8px; }
  .pl-xl-8 { padding-left: 8px; }
  .pr-xl-8 { padding-right: 8px; }
  .px-xl-8 { padding-left: 8px; padding-right: 8px; }
  .py-xl-8 { padding-top: 8px; padding-bottom: 8px; }
}
@media (min-width: 1280px) {
  .m-xl-12 { margin: 12px; }
  .mt-xl-12 { margin-top: 12px; }
  .mb-xl-12 { margin-bottom: 12px; }
  .ml-xl-12 { margin-left: 12px; }
  .mr-xl-12 { margin-right: 12px; }
  .mx-xl-12 { margin-left: 12px; margin-right: 12px; }
  .my-xl-12 { margin-top: 12px; margin-bottom: 12px; }
  .p-xl-12 { padding: 12px; }
  .pt-xl-12 { padding-top: 12px; }
  .pb-xl-12 { padding-bottom: 12px; }
  .pl-xl-12 { padding-left: 12px; }
  .pr-xl-12 { padding-right: 12px; }
  .px-xl-12 { padding-left: 12px; padding-right: 12px; }
  .py-xl-12 { padding-top: 12px; padding-bottom: 12px; }
}
@media (min-width: 1280px) {
  .m-xl-16 { margin: 16px; }
  .mt-xl-16 { margin-top: 16px; }
  .mb-xl-16 { margin-bottom: 16px; }
  .ml-xl-16 { margin-left: 16px; }
  .mr-xl-16 { margin-right: 16px; }
  .mx-xl-16 { margin-left: 16px; margin-right: 16px; }
  .my-xl-16 { margin-top: 16px; margin-bottom: 16px; }
  .p-xl-16 { padding: 16px; }
  .pt-xl-16 { padding-top: 16px; }
  .pb-xl-16 { padding-bottom: 16px; }
  .pl-xl-16 { padding-left: 16px; }
  .pr-xl-16 { padding-right: 16px; }
  .px-xl-16 { padding-left: 16px; padding-right: 16px; }
  .py-xl-16 { padding-top: 16px; padding-bottom: 16px; }
}
@media (min-width: 1280px) {
  .m-xl-24 { margin: 24px; }
  .mt-xl-24 { margin-top: 24px; }
  .mb-xl-24 { margin-bottom: 24px; }
  .ml-xl-24 { margin-left: 24px; }
  .mr-xl-24 { margin-right: 24px; }
  .mx-xl-24 { margin-left: 24px; margin-right: 24px; }
  .my-xl-24 { margin-top: 24px; margin-bottom: 24px; }
  .p-xl-24 { padding: 24px; }
  .pt-xl-24 { padding-top: 24px; }
  .pb-xl-24 { padding-bottom: 24px; }
  .pl-xl-24 { padding-left: 24px; }
  .pr-xl-24 { padding-right: 24px; }
  .px-xl-24 { padding-left: 24px; padding-right: 24px; }
  .py-xl-24 { padding-top: 24px; padding-bottom: 24px; }
}
@media (min-width: 1280px) {
  .m-xl-32 { margin: 32px; }
  .mt-xl-32 { margin-top: 32px; }
  .mb-xl-32 { margin-bottom: 32px; }
  .ml-xl-32 { margin-left: 32px; }
  .mr-xl-32 { margin-right: 32px; }
  .mx-xl-32 { margin-left: 32px; margin-right: 32px; }
  .my-xl-32 { margin-top: 32px; margin-bottom: 32px; }
  .p-xl-32 { padding: 32px; }
  .pt-xl-32 { padding-top: 32px; }
  .pb-xl-32 { padding-bottom: 32px; }
  .pl-xl-32 { padding-left: 32px; }
  .pr-xl-32 { padding-right: 32px; }
  .px-xl-32 { padding-left: 32px; padding-right: 32px; }
  .py-xl-32 { padding-top: 32px; padding-bottom: 32px; }
}
@media (min-width: 1280px) {
  .m-xl-48 { margin: 48px; }
  .mt-xl-48 { margin-top: 48px; }
  .mb-xl-48 { margin-bottom: 48px; }
  .ml-xl-48 { margin-left: 48px; }
  .mr-xl-48 { margin-right: 48px; }
  .mx-xl-48 { margin-left: 48px; margin-right: 48px; }
  .my-xl-48 { margin-top: 48px; margin-bottom: 48px; }
  .p-xl-48 { padding: 48px; }
  .pt-xl-48 { padding-top: 48px; }
  .pb-xl-48 { padding-bottom: 48px; }
  .pl-xl-48 { padding-left: 48px; }
  .pr-xl-48 { padding-right: 48px; }
  .px-xl-48 { padding-left: 48px; padding-right: 48px; }
  .py-xl-48 { padding-top: 48px; padding-bottom: 48px; }
}
@media (min-width: 1280px) {
  .m-xl-64 { margin: 64px; }
  .mt-xl-64 { margin-top: 64px; }
  .mb-xl-64 { margin-bottom: 64px; }
  .ml-xl-64 { margin-left: 64px; }
  .mr-xl-64 { margin-right: 64px; }
  .mx-xl-64 { margin-left: 64px; margin-right: 64px; }
  .my-xl-64 { margin-top: 64px; margin-bottom: 64px; }
  .p-xl-64 { padding: 64px; }
  .pt-xl-64 { padding-top: 64px; }
  .pb-xl-64 { padding-bottom: 64px; }
  .pl-xl-64 { padding-left: 64px; }
  .pr-xl-64 { padding-right: 64px; }
  .px-xl-64 { padding-left: 64px; padding-right: 64px; }
  .py-xl-64 { padding-top: 64px; padding-bottom: 64px; }
}
@media (min-width: 1280px) {
  .m-xl-96 { margin: 96px; }
  .mt-xl-96 { margin-top: 96px; }
  .mb-xl-96 { margin-bottom: 96px; }
  .ml-xl-96 { margin-left: 96px; }
  .mr-xl-96 { margin-right: 96px; }
  .mx-xl-96 { margin-left: 96px; margin-right: 96px; }
  .my-xl-96 { margin-top: 96px; margin-bottom: 96px; }
  .p-xl-96 { padding: 96px; }
  .pt-xl-96 { padding-top: 96px; }
  .pb-xl-96 { padding-bottom: 96px; }
  .pl-xl-96 { padding-left: 96px; }
  .pr-xl-96 { padding-right: 96px; }
  .px-xl-96 { padding-left: 96px; padding-right: 96px; }
  .py-xl-96 { padding-top: 96px; padding-bottom: 96px; }
}
