
*{
    margin:0;
}
body{
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
  }
:root {
/* Breakpoints */
--min-screen: 320px; /* Minimum screen width */
--max-screen: 1200px; /* Maximum screen width */

/* Colors */
--blue-50:#E7EEF8;
--blue-100:#B5CAE8;
--blue-200:#91B0DD;
--blue-300:#5E8CCE;
--blue-400:#3F75C5;
--blue-500:#0F53B6;
--blue-600:#0E4CA6;
--blue-700:#0B3B81;
--blue-800:#082E64;

--red-50:#FFE6E6;
--red-100:#FEB3B2;
--red-200:#FE8E8D;
--red-300:#FE5A5A;
--red-400:#FD3A39 ;
--red-500:#FE0908 ;
--red-600:#E60807 ;
--red-700:#B40606;
--red-800:#8B0504;

--black-50:#E8E9EA ;
--black-100:#B9BABD ;
--black-200:#97999D ;
--black-300:#686B70 ;
--black-400:#4A4E54 ;
--black-500:#1D2229 ;
--black-600:#1A1F25;

--white-100:#F5F8FC;
--white-80:#F2F3F5;

--font-display-36: 36px;
--font-display-42: 42px;
--font-display-48: 48px;
--font-display-60: 60px;
--font-display-72: 72px;
--font-display-78: 78px;
--font-display-96: 96px;

/* Heading Sizes */
--font-heading-14: 14px;
--font-heading-16: 16px;
--font-heading-20: 20px;
--font-heading-24: 24px;
--font-heading-28: 28px;
--font-heading-32: 32px;
--font-heading-40: 40px;
--font-heading-48: 48px;

/* Body Sizes */
--font-body-12: 12px;
--font-body-13: 13px;
--font-body-14: 14px;
--font-body-16: 16px;
--font-body-18: 18px;

  /* Spacing System */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --spacing-192: 192px;
  --spacing-256: 256px;
  --spacing-384: 384px;
  --spacing-512: 512px;
  --spacing-640: 640px;
  --spacing-768: 768px;
}

.line-height-display {
    line-height: 120.81%;
  }
  
  .line-height-heading {
    line-height: 132.36%;
  }
  
  .line-height-body {
    line-height: 147%;
  }
  
  .line-height-label {
    line-height: 141.76%;
  }
  
/* Font Mobile */
@media (max-width: 767px) {
    .font-display-36 {
        font-size: 28px !important;
      }
      
      .font-display-42 {
        font-size: 32px !important;
      }
      
      .font-display-48 {
        font-size: 36px !important;
      }
      
      .font-display-60 {
        font-size: 40px !important;
      }
      
      .font-heading-16 {
        font-size: 14px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-20 {
        font-size: 18px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-24 {
        font-size: 20px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-28 {
        font-size: 22px !important;
        line-height: 132.36% !important;
      }
      
      .font-body-12 {
        font-size: 10px !important;
         line-height: 147% !important;  
      }
      
      .font-body-13 {
        font-size: 12px !important;
         line-height: 147% !important;  
      }
      
      .font-body-14 {
        font-size: 13px !important;
         line-height: 147% !important;  
      }
      
      .font-body-16,p {
        font-size: 14px !important;
         line-height: 147% !important;  
      }
      .font-body-18 {
        font-size: 16px !important;
         line-height: 147% !important;  
      }
            .font-label-10 {
        font-size: 10px !important; 
      }

      .font-label-12 {
        font-size: 12px !important; 
      }

      .font-label-13 {
        font-size: 13px !important; 
      }

      .font-label-14 {
        font-size: 14px !important; 
      }
      .font-label-10 {
        font-size: 8px !important;
        line-height: 141.76% !important; 
      }

      .font-label-12 {
        font-size: 10px !important;
        line-height: 141.76% !important; 
      }

      .font-label-13 {
        font-size: 11px !important;
        line-height: 141.76% !important; 
      }

      .font-label-14 {
        font-size: 12px !important;
        line-height: 141.76% !important; 
      }
  }
  
/* Font Tablets */
  @media (min-width: 768px) and (max-width: 1199px) {
    .font-display-36 {
        font-size: 32px !important;
      }
      
      .font-display-42 {
        font-size: 38px !important;
      }
      
      .font-display-48 {
        font-size: 44px !important;
      }
      
      .font-display-60 {
        font-size: 54px !important;
      }
      
      .font-heading-16 {
        font-size: 16px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-20 {
        font-size: 18px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-24 {
        font-size: 22px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-28 {
        font-size: 24px !important;
        line-height: 132.36% !important;
      }
      
      .font-body-12 {
        font-size: 11px !important;
        line-height: 147% !important;  

      }
      
      .font-body-13 {
        font-size: 13px !important;
        line-height: 147% !important;  

      }
      
      .font-body-14 {
        font-size: 14px !important;
        line-height: 147% !important;  

      }
      
      .font-body-16,p {
        font-size: 15px !important;
        line-height: 147% !important;  

      }
      .font-body-18 {
        font-size: 17px !important;
        line-height: 147% !important;  

      }
      .font-label-10 {
        font-size: 8px !important;
        line-height: 141.76% !important; 
      }

      .font-label-12 {
        font-size: 11px !important;
        line-height: 141.76% !important; 
      }

      .font-label-13 {
        font-size: 12px !important;
        line-height: 141.76% !important; 
      }

      .font-label-14 {
        font-size: 13px !important;
        line-height: 141.76% !important; 
      }
  }
  /* Font desktop */
  @media (min-width: 1200px){
    .font-display-36 {
        font-size: 36px !important;
      }
      
      .font-display-42 {
        font-size: 42px !important;
      }
      
      .font-display-48 {
        font-size: 48px !important;
      }
      
      .font-display-60 {
        font-size: 60px !important;
      }
      
      .font-heading-14 {
        font-size: 14px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-16 {
        font-size: 16px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-20 {
        font-size: 20px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-24 {
        font-size: 24px !important;
        line-height: 132.36% !important;
      }
      
      .font-heading-28 {
        font-size: 28px !important;
        line-height: 132.36% !important;
      }
      
      .font-body-12 {
        font-size: 12px !important;
        line-height: 147% !important; 
      }
      
      .font-body-13 {
        font-size: 13px !important;
        line-height: 147% !important; 
      }
      
      .font-body-14 {
        font-size: 14px !important;
        line-height: 147% !important; 
      }
      
      .font-body-16,p {
        font-size: 16px !important;
        line-height: 147% !important; 
      }
      .font-body-18 {
        font-size: 18px !important;
        line-height: 147% !important; 
      }
      .font-label-10 {
        font-size: 10px !important;
        line-height: 141.76% !important; 
      }

      .font-label-12 {
        font-size: 12px !important;
        line-height: 141.76% !important; 
      }

      .font-label-13 {
        font-size: 13px !important;
        line-height: 141.76% !important; 
      }

      .font-label-14 {
        font-size: 14px !important;
        line-height: 141.76% !important; 
      }
      
  }


/* Blue Colors */
.bg-blue-50 { background-color: var(--blue-50) !important; }
.bg-blue-100 { background-color: var(--blue-100) !important; }
.bg-blue-200 { background-color: var(--blue-200) !important; }
.bg-blue-300 { background-color: var(--blue-300) !important; }
.bg-blue-400 { background-color: var(--blue-400) !important; }
.bg-blue-500 { background-color: var(--blue-500) !important; }
.bg-blue-600 { background-color: var(--blue-600) !important; }
.bg-blue-700 { background-color: var(--blue-700) !important; }
.bg-blue-800 { background-color: var(--blue-800) !important; }

.text-blue-50 { color: var(--blue-50) !important; }
.text-blue-100 { color: var(--blue-100) !important; }
.text-blue-200 { color: var(--blue-200) !important; }
.text-blue-300 { color: var(--blue-300) !important; }
.text-blue-400 { color: var(--blue-400) !important; }
.text-blue-500 { color: var(--blue-500) !important; }
.text-blue-600 { color: var(--blue-600) !important; }
.text-blue-700 { color: var(--blue-700) !important; }
.text-blue-800 { color: var(--blue-800) !important; }

.border-blue-50 { border-color: var(--blue-50) !important; }
.border-blue-100 { border-color: var(--blue-100) !important; }
.border-blue-200 { border-color: var(--blue-200) !important; }
.border-blue-300 { border-color: var(--blue-300) !important; }
.border-blue-400 { border-color: var(--blue-400) !important; }
.border-blue-500 { border-color: var(--blue-500) !important; }
.border-blue-600 { border-color: var(--blue-600) !important; }
.border-blue-700 { border-color: var(--blue-700) !important; }
.border-blue-800 { border-color: var(--blue-800) !important; }

/* Red Colors */
.bg-red-50 { background-color: var(--red-50) !important; }
.bg-red-100 { background-color: var(--red-100) !important; }
.bg-red-200 { background-color: var(--red-200) !important; }
.bg-red-300 { background-color: var(--red-300) !important; }
.bg-red-400 { background-color: var(--red-400) !important; }
.bg-red-500 { background-color: var(--red-500) !important; }
.bg-red-600 { background-color: var(--red-600) !important; }
.bg-red-700 { background-color: var(--red-700) !important; }
.bg-red-800 { background-color: var(--red-800) !important; }

.text-red-50 { color: var(--red-50) !important; }
.text-red-100 { color: var(--red-100) !important; }
.text-red-200 { color: var(--red-200) !important; }
.text-red-300 { color: var(--red-300) !important; }
.text-red-400 { color: var(--red-400) !important; }
.text-red-500 { color: var(--red-500) !important; }
.text-red-600 { color: var(--red-600) !important; }
.text-red-700 { color: var(--red-700) !important; }
.text-red-800 { color: var(--red-800) !important; }

.border-red-50 { border-color: var(--red-50) !important; }
.border-red-100 { border-color: var(--red-100) !important; }
.border-red-200 { border-color: var(--red-200) !important; }
.border-red-300 { border-color: var(--red-300) !important; }
.border-red-400 { border-color: var(--red-400) !important; }
.border-red-500 { border-color: var(--red-500) !important; }
.border-red-600 { border-color: var(--red-600) !important; }
.border-red-700 { border-color: var(--red-700) !important; }
.border-red-800 { border-color: var(--red-800) !important; }

/* Black Colors */
.bg-black-50 { background-color: var(--black-50) !important; }
.bg-black-100 { background-color: var(--black-100) !important; }
.bg-black-200 { background-color: var(--black-200) !important; }
.bg-black-300 { background-color: var(--black-300) !important; }
.bg-black-400 { background-color: var(--black-400) !important; }
.bg-black-500 { background-color: var(--black-500) !important; }
.bg-black-600 { background-color: var(--black-600) !important; }

.text-black-50 { color: var(--black-50) !important; }
.text-black-100 { color: var(--black-100) !important; }
.text-black-200 { color: var(--black-200) !important; }
.text-black-300 { color: var(--black-300) !important; }
.text-black-400 { color: var(--black-400) !important; }
.text-black-500 { color: var(--black-500) !important; }
.text-black-600 { color: var(--black-600) !important; }

.border-black-50 { border-color: var(--black-50) !important; }
.border-black-100 { border-color: var(--black-100) !important; }
.border-black-200 { border-color: var(--black-200) !important; }
.border-black-300 { border-color: var(--black-300) !important; }
.border-black-400 { border-color: var(--black-400) !important; }
.border-black-500 { border-color: var(--black-500) !important; }
.border-black-600 { border-color: var(--black-600) !important; }

/* White Colors */
.bg-white-100 { background-color: var(--white-100) !important; }
.bg-white-80 { background-color: var(--white-80) !important; }

.text-white-100 { color: var(--white-100) !important; }
.text-white-80 { color: var(--white-80) !important; }

.border-white-100 { border-color: var(--white-100) !important; }
.border-white-80 { border-color: var(--white-80) !important; }

/* gap utilities */

.gap-4 { gap: var(--spacing-4)!important; }
.gap-8 { gap: var(--spacing-8)!important; }
.gap-12 { gap: var(--spacing-12)!important; }
.gap-16 { gap: var(--spacing-16)!important; }
.gap-24 { gap: var(--spacing-24)!important; }
.gap-32 { gap: var(--spacing-32)!important; }
.gap-48 { gap: var(--spacing-48)!important; }
.gap-64 { gap: var(--spacing-64)!important; }
.gap-96 { gap: var(--spacing-96)!important; }

/* Margin Utilities */
.m-4 { margin: var(--spacing-4)!important; }
.m-8 { margin: var(--spacing-8)!important; }
.m-12 { margin: var(--spacing-12)!important; }
.m-16 { margin: var(--spacing-16)!important; }
.m-24 { margin: var(--spacing-24)!important; }
.m-32 { margin: var(--spacing-32)!important; }
.m-48 { margin: var(--spacing-48)!important; }
.m-64 { margin: var(--spacing-64)!important; }
.m-96 { margin: var(--spacing-96)!important; }

/* Padding Utilities */
.p-4 { padding: var(--spacing-4)!important; }
.p-8 { padding: var(--spacing-8)!important; }
.p-12 { padding: var(--spacing-12)!important; }
.p-16 { padding: var(--spacing-16)!important; }
.p-24 { padding: var(--spacing-24)!important; }
.p-32 { padding: var(--spacing-32)!important; }
.p-48 { padding: var(--spacing-48)!important; }
.p-64 { padding: var(--spacing-64)!important; }
.p-96 { padding: var(--spacing-96)!important; }

/* Margin Specific Directions */
.mx-4 { margin-left: var(--spacing-4); margin-right: var(--spacing-4)!important; }
.mx-8 { margin-left: var(--spacing-8); margin-right: var(--spacing-8)!important; }
.mx-12 { margin-left: var(--spacing-12); margin-right: var(--spacing-12)!important; }
.mx-16 { margin-left: var(--spacing-16); margin-right: var(--spacing-16)!important; }
.mx-24 { margin-left: var(--spacing-24); margin-right: var(--spacing-24)!important; }
.mx-32 { margin-left: var(--spacing-32); margin-right: var(--spacing-32)!important; }
.mx-48 { margin-left: var(--spacing-48); margin-right: var(--spacing-48)!important; }
.mx-64 { margin-left: var(--spacing-64); margin-right: var(--spacing-64)!important; }
.mx-96 { margin-left: var(--spacing-96); margin-right: var(--spacing-96)!important; }

.my-4 { margin-top: var(--spacing-4); margin-bottom: var(--spacing-4)!important; }
.my-8 { margin-top: var(--spacing-8); margin-bottom: var(--spacing-8)!important; }
.my-12 { margin-top: var(--spacing-12); margin-bottom: var(--spacing-12)!important; }
.my-16 { margin-top: var(--spacing-16); margin-bottom: var(--spacing-16)!important; }
.my-24 { margin-top: var(--spacing-24); margin-bottom: var(--spacing-24)!important; }
.my-32 { margin-top: var(--spacing-32); margin-bottom: var(--spacing-32)!important; }
.my-48 { margin-top: var(--spacing-48); margin-bottom: var(--spacing-48)!important; }
.my-64 { margin-top: var(--spacing-64); margin-bottom: var(--spacing-64)!important; }
.my-96 { margin-top: var(--spacing-96); margin-bottom: var(--spacing-96)!important; }

.mt-4 { margin-top: var(--spacing-4)!important; }
.mt-8 { margin-top: var(--spacing-8)!important; }
.mt-12 { margin-top: var(--spacing-12)!important; }
.mt-16 { margin-top: var(--spacing-16)!important; }
.mt-24 { margin-top: var(--spacing-24)!important; }
.mt-32 { margin-top: var(--spacing-32)!important; }
.mt-48 { margin-top: var(--spacing-48)!important; }
.mt-64 { margin-top: var(--spacing-64)!important; }
.mt-96 { margin-top: var(--spacing-96)!important; }

.mb-4 { margin-bottom: var(--spacing-4)!important; }
.mb-8 { margin-bottom: var(--spacing-8)!important; }
.mb-12 { margin-bottom: var(--spacing-12)!important; }
.mb-16 { margin-bottom: var(--spacing-16)!important; }
.mb-24 { margin-bottom: var(--spacing-24)!important; }
.mb-32 { margin-bottom: var(--spacing-32)!important; }
.mb-48 { margin-bottom: var(--spacing-48)!important; }
.mb-64 { margin-bottom: var(--spacing-64)!important; }
.mb-96 { margin-bottom: var(--spacing-96)!important; }

.ml-4 { margin-left: var(--spacing-4)!important; }
.ml-8 { margin-left: var(--spacing-8)!important; }
.ml-12 { margin-left: var(--spacing-12)!important; }
.ml-16 { margin-left: var(--spacing-16)!important; }
.ml-24 { margin-left: var(--spacing-24)!important; }
.ml-32 { margin-left: var(--spacing-32)!important; }
.ml-48 { margin-left: var(--spacing-48)!important; }
.ml-64 { margin-left: var(--spacing-64)!important; }
.ml-96 { margin-left: var(--spacing-96)!important; }

.mr-4 { margin-right: var(--spacing-4)!important; }
.mr-8 { margin-right: var(--spacing-8)!important; }
.mr-12 { margin-right: var(--spacing-12)!important; }
.mr-16 { margin-right: var(--spacing-16)!important; }
.mr-24 { margin-right: var(--spacing-24)!important; }
.mr-32 { margin-right: var(--spacing-32)!important; }
.mr-48 { margin-right: var(--spacing-48)!important; }
.mr-64 { margin-right: var(--spacing-64)!important; }
.mr-96 { margin-right: var(--spacing-96)!important; }

/* Padding Specific Directions */
.px-4 { padding-left: var(--spacing-4); padding-right: var(--spacing-4)!important; }
.px-8 { padding-left: var(--spacing-8); padding-right: var(--spacing-8)!important; }
.px-12 { padding-left: var(--spacing-12); padding-right: var(--spacing-12)!important; }
.px-16 { padding-left: var(--spacing-16); padding-right: var(--spacing-16)!important; }
.px-24 { padding-left: var(--spacing-24); padding-right: var(--spacing-24)!important; }
.px-32 { padding-left: var(--spacing-32); padding-right: var(--spacing-32)!important; }
.px-48 { padding-left: var(--spacing-48); padding-right: var(--spacing-48)!important; }
.px-64 { padding-left: var(--spacing-64); padding-right: var(--spacing-64)!important; }
.px-96 { padding-left: var(--spacing-96); padding-right: var(--spacing-96)!important; }

.py-4 { padding-top: var(--spacing-4); padding-bottom: var(--spacing-4)!important; }
.py-8 { padding-top: var(--spacing-8); padding-bottom: var(--spacing-8)!important; }
.py-12 { padding-top: var(--spacing-12); padding-bottom: var(--spacing-12)!important; }
.py-16 { padding-top: var(--spacing-16); padding-bottom: var(--spacing-16)!important; }
.py-24 { padding-top: var(--spacing-24); padding-bottom: var(--spacing-24)!important; }
.py-32 { padding-top: var(--spacing-32); padding-bottom: var(--spacing-32)!important; }
.py-48 { padding-top: var(--spacing-48); padding-bottom: var(--spacing-48)!important; }
.py-64 { padding-top: var(--spacing-64); padding-bottom: var(--spacing-64)!important; }
.py-96 { padding-top: var(--spacing-96); padding-bottom: var(--spacing-96)!important; }

.pt-4 { padding-top: var(--spacing-4)!important; }
.pt-8 { padding-top: var(--spacing-8)!important; }
.pt-12 { padding-top: var(--spacing-12)!important; }
.pt-16 { padding-top: var(--spacing-16)!important; }
.pt-24 { padding-top: var(--spacing-24)!important; }
.pt-32 { padding-top: var(--spacing-32)!important; }
.pt-48 { padding-top: var(--spacing-48)!important; }
.pt-64 { padding-top: var(--spacing-64)!important; }
.pt-96 { padding-top: var(--spacing-96)!important; }

.pb-4 { padding-bottom: var(--spacing-4)!important; }
.pb-8 { padding-bottom: var(--spacing-8)!important; }
.pb-12 { padding-bottom: var(--spacing-12)!important; }
.pb-16 { padding-bottom: var(--spacing-16)!important; }
.pb-24 { padding-bottom: var(--spacing-24)!important; }
.pb-32 { padding-bottom: var(--spacing-32)!important; }
.pb-48 { padding-bottom: var(--spacing-48)!important; }
.pb-64 { padding-bottom: var(--spacing-64)!important; }
.pb-96 { padding-bottom: var(--spacing-96)!important; }

.pl-4 { padding-left: var(--spacing-4)!important; }
.pl-8 { padding-left: var(--spacing-8)!important; }
.pl-12 { padding-left: var(--spacing-12)!important; }
.pl-16 { padding-left: var(--spacing-16)!important; }
.pl-24 { padding-left: var(--spacing-24)!important; }
.pl-32 { padding-left: var(--spacing-32)!important; }
.pl-48 { padding-left: var(--spacing-48)!important; }
.pl-64 { padding-left: var(--spacing-64)!important; }
.pl-96 { padding-left: var(--spacing-96)!important; }

.pr-4 { padding-right: var(--spacing-4)!important; }
.pr-8 { padding-right: var(--spacing-8)!important; }
.pr-12 { padding-right: var(--spacing-12)!important; }
.pr-16 { padding-right: var(--spacing-16)!important; }
.pr-24 { padding-right: var(--spacing-24)!important; }
.pr-32 { padding-right: var(--spacing-32)!important; }
.pr-48 { padding-right: var(--spacing-48)!important; }
.pr-64 { padding-right: var(--spacing-64)!important; }
.pr-96 { padding-right: var(--spacing-96)!important; }

@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-4 { margin: 4px; }
  .mt-sm-4 { margin-top: 4px; }
  .mb-sm-4 { margin-bottom: 4px; }
  .ml-sm-4 { margin-left: 4px; }
  .mr-sm-4 { margin-right: 4px; }
  .mx-sm-4 { margin-left: 4px; margin-right: 4px; }
  .my-sm-4 { margin-top: 4px; margin-bottom: 4px; }
  .p-sm-4 { padding: 4px; }
  .pt-sm-4 { padding-top: 4px; }
  .pb-sm-4 { padding-bottom: 4px; }
  .pl-sm-4 { padding-left: 4px; }
  .pr-sm-4 { padding-right: 4px; }
  .px-sm-4 { padding-left: 4px; padding-right: 4px; }
  .py-sm-4 { padding-top: 4px; padding-bottom: 4px; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-8 { margin: 8px !important; }
  .mt-sm-8 { margin-top: 8px !important; }
  .mb-sm-8 { margin-bottom: 8px !important; }
  .ml-sm-8 { margin-left: 8px !important; }
  .mr-sm-8 { margin-right: 8px !important; }
  .mx-sm-8 { margin-left: 8px; margin-right: 8px !important; }
  .my-sm-8 { margin-top: 8px; margin-bottom: 8px !important; }
  .p-sm-8 { padding: 8px !important; }
  .pt-sm-8 { padding-top: 8px !important; }
  .pb-sm-8 { padding-bottom: 8px !important; }
  .pl-sm-8 { padding-left: 8px !important; }
  .pr-sm-8 { padding-right: 8px !important; }
  .px-sm-8 { padding-left: 8px; padding-right: 8px !important; }
  .py-sm-8 { padding-top: 8px; padding-bottom: 8px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-12 { margin: 12px !important; }
  .mt-sm-12 { margin-top: 12px !important; }
  .mb-sm-12 { margin-bottom: 12px !important; }
  .ml-sm-12 { margin-left: 12px !important; }
  .mr-sm-12 { margin-right: 12px !important; }
  .mx-sm-12 { margin-left: 12px; margin-right: 12px !important; }
  .my-sm-12 { margin-top: 12px; margin-bottom: 12px !important; }
  .p-sm-12 { padding: 12px !important; }
  .pt-sm-12 { padding-top: 12px !important; }
  .pb-sm-12 { padding-bottom: 12px !important; }
  .pl-sm-12 { padding-left: 12px !important; }
  .pr-sm-12 { padding-right: 12px !important; }
  .px-sm-12 { padding-left: 12px; padding-right: 12px !important; }
  .py-sm-12 { padding-top: 12px; padding-bottom: 12px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-16 { margin: 16px !important; }
  .mt-sm-16 { margin-top: 16px !important; }
  .mb-sm-16 { margin-bottom: 16px !important; }
  .ml-sm-16 { margin-left: 16px !important; }
  .mr-sm-16 { margin-right: 16px !important; }
  .mx-sm-16 { margin-left: 16px; margin-right: 16px !important; }
  .my-sm-16 { margin-top: 16px; margin-bottom: 16px !important; }
  .p-sm-16 { padding: 16px !important; }
  .pt-sm-16 { padding-top: 16px !important; }
  .pb-sm-16 { padding-bottom: 16px !important; }
  .pl-sm-16 { padding-left: 16px !important; }
  .pr-sm-16 { padding-right: 16px !important; }
  .px-sm-16 { padding-left: 16px; padding-right: 16px !important; }
  .py-sm-16 { padding-top: 16px; padding-bottom: 16px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-24 { margin: 24px !important; }
  .mt-sm-24 { margin-top: 24px !important; }
  .mb-sm-24 { margin-bottom: 24px !important; }
  .ml-sm-24 { margin-left: 24px !important; }
  .mr-sm-24 { margin-right: 24px !important; }
  .mx-sm-24 { margin-left: 24px; margin-right: 24px !important; }
  .my-sm-24 { margin-top: 24px; margin-bottom: 24px !important; }
  .p-sm-24 { padding: 24px !important; }
  .pt-sm-24 { padding-top: 24px !important; }
  .pb-sm-24 { padding-bottom: 24px !important; }
  .pl-sm-24 { padding-left: 24px !important; }
  .pr-sm-24 { padding-right: 24px !important; }
  .px-sm-24 { padding-left: 24px; padding-right: 24px !important; }
  .py-sm-24 { padding-top: 24px; padding-bottom: 24px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-32 { margin: 32px !important; }
  .mt-sm-32 { margin-top: 32px !important; }
  .mb-sm-32 { margin-bottom: 32px !important; }
  .ml-sm-32 { margin-left: 32px !important; }
  .mr-sm-32 { margin-right: 32px !important; }
  .mx-sm-32 { margin-left: 32px; margin-right: 32px !important; }
  .my-sm-32 { margin-top: 32px; margin-bottom: 32px !important; }
  .p-sm-32 { padding: 32px !important; }
  .pt-sm-32 { padding-top: 32px !important; }
  .pb-sm-32 { padding-bottom: 32px !important; }
  .pl-sm-32 { padding-left: 32px !important; }
  .pr-sm-32 { padding-right: 32px !important; }
  .px-sm-32 { padding-left: 32px; padding-right: 32px !important; }
  .py-sm-32 { padding-top: 32px; padding-bottom: 32px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-48 { margin: 48px !important; }
  .mt-sm-48 { margin-top: 48px !important; }
  .mb-sm-48 { margin-bottom: 48px !important; }
  .ml-sm-48 { margin-left: 48px !important; }
  .mr-sm-48 { margin-right: 48px !important; }
  .mx-sm-48 { margin-left: 48px; margin-right: 48px !important; }
  .my-sm-48 { margin-top: 48px; margin-bottom: 48px !important; }
  .p-sm-48 { padding: 48px !important; }
  .pt-sm-48 { padding-top: 48px !important; }
  .pb-sm-48 { padding-bottom: 48px !important; }
  .pl-sm-48 { padding-left: 48px !important; }
  .pr-sm-48 { padding-right: 48px !important; }
  .px-sm-48 { padding-left: 48px; padding-right: 48px !important; }
  .py-sm-48 { padding-top: 48px; padding-bottom: 48px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-64 { margin: 64px !important; }
  .mt-sm-64 { margin-top: 64px !important; }
  .mb-sm-64 { margin-bottom: 64px !important; }
  .ml-sm-64 { margin-left: 64px !important; }
  .mr-sm-64 { margin-right: 64px !important; }
  .mx-sm-64 { margin-left: 64px; margin-right: 64px !important; }
  .my-sm-64 { margin-top: 64px; margin-bottom: 64px !important; }
  .p-sm-64 { padding: 64px !important; }
  .pt-sm-64 { padding-top: 64px !important; }
  .pb-sm-64 { padding-bottom: 64px !important; }
  .pl-sm-64 { padding-left: 64px !important; }
  .pr-sm-64 { padding-right: 64px !important; }
  .px-sm-64 { padding-left: 64px; padding-right: 64px !important; }
  .py-sm-64 { padding-top: 64px; padding-bottom: 64px !important; }
}
@media (min-width: 640px) and ( max-width: 767px) {
  .m-sm-96 { margin: 96px !important; }
  .mt-sm-96 { margin-top: 96px !important; }
  .mb-sm-96 { margin-bottom: 96px !important; }
  .ml-sm-96 { margin-left: 96px !important; }
  .mr-sm-96 { margin-right: 96px !important; }
  .mx-sm-96 { margin-left: 96px; margin-right: 96px !important; }
  .my-sm-96 { margin-top: 96px; margin-bottom: 96px !important; }
  .p-sm-96 { padding: 96px !important; }
  .pt-sm-96 { padding-top: 96px !important; }
  .pb-sm-96 { padding-bottom: 96px !important; }
  .pl-sm-96 { padding-left: 96px !important; }
  .pr-sm-96 { padding-right: 96px !important; }
  .px-sm-96 { padding-left: 96px; padding-right: 96px !important; }
  .py-sm-96 { padding-top: 96px; padding-bottom: 96px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-4 { margin: 4px !important; }
  .mt-md-4 { margin-top: 4px !important; }
  .mb-md-4 { margin-bottom: 4px !important; }
  .ml-md-4 { margin-left: 4px !important; }
  .mr-md-4 { margin-right: 4px !important; }
  .mx-md-4 { margin-left: 4px; margin-right: 4px !important; }
  .my-md-4 { margin-top: 4px; margin-bottom: 4px !important; }
  .p-md-4 { padding: 4px !important; }
  .pt-md-4 { padding-top: 4px !important; }
  .pb-md-4 { padding-bottom: 4px !important; }
  .pl-md-4 { padding-left: 4px !important; }
  .pr-md-4 { padding-right: 4px !important; }
  .px-md-4 { padding-left: 4px; padding-right: 4px !important; }
  .py-md-4 { padding-top: 4px; padding-bottom: 4px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-8 { margin: 8px !important; }
  .mt-md-8 { margin-top: 8px !important; }
  .mb-md-8 { margin-bottom: 8px !important; }
  .ml-md-8 { margin-left: 8px !important; }
  .mr-md-8 { margin-right: 8px !important; }
  .mx-md-8 { margin-left: 8px; margin-right: 8px !important; }
  .my-md-8 { margin-top: 8px; margin-bottom: 8px !important; }
  .p-md-8 { padding: 8px !important; }
  .pt-md-8 { padding-top: 8px !important; }
  .pb-md-8 { padding-bottom: 8px !important; }
  .pl-md-8 { padding-left: 8px !important; }
  .pr-md-8 { padding-right: 8px !important; }
  .px-md-8 { padding-left: 8px; padding-right: 8px !important; }
  .py-md-8 { padding-top: 8px; padding-bottom: 8px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-12 { margin: 12px !important; }
  .mt-md-12 { margin-top: 12px !important; }
  .mb-md-12 { margin-bottom: 12px !important; }
  .ml-md-12 { margin-left: 12px !important; }
  .mr-md-12 { margin-right: 12px !important; }
  .mx-md-12 { margin-left: 12px; margin-right: 12px !important; }
  .my-md-12 { margin-top: 12px; margin-bottom: 12px !important; }
  .p-md-12 { padding: 12px !important; }
  .pt-md-12 { padding-top: 12px !important; }
  .pb-md-12 { padding-bottom: 12px !important; }
  .pl-md-12 { padding-left: 12px !important; }
  .pr-md-12 { padding-right: 12px !important; }
  .px-md-12 { padding-left: 12px; padding-right: 12px !important; }
  .py-md-12 { padding-top: 12px; padding-bottom: 12px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-16 { margin: 16px !important; }
  .mt-md-16 { margin-top: 16px !important; }
  .mb-md-16 { margin-bottom: 16px !important; }
  .ml-md-16 { margin-left: 16px !important; }
  .mr-md-16 { margin-right: 16px !important; }
  .mx-md-16 { margin-left: 16px; margin-right: 16px !important; }
  .my-md-16 { margin-top: 16px; margin-bottom: 16px !important; }
  .p-md-16 { padding: 16px !important; }
  .pt-md-16 { padding-top: 16px !important; }
  .pb-md-16 { padding-bottom: 16px !important; }
  .pl-md-16 { padding-left: 16px !important; }
  .pr-md-16 { padding-right: 16px !important; }
  .px-md-16 { padding-left: 16px; padding-right: 16px !important; }
  .py-md-16 { padding-top: 16px; padding-bottom: 16px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-24 { margin: 24px !important; }
  .mt-md-24 { margin-top: 24px !important; }
  .mb-md-24 { margin-bottom: 24px !important; }
  .ml-md-24 { margin-left: 24px !important; }
  .mr-md-24 { margin-right: 24px !important; }
  .mx-md-24 { margin-left: 24px; margin-right: 24px !important; }
  .my-md-24 { margin-top: 24px; margin-bottom: 24px !important; }
  .p-md-24 { padding: 24px !important; }
  .pt-md-24 { padding-top: 24px !important; }
  .pb-md-24 { padding-bottom: 24px !important; }
  .pl-md-24 { padding-left: 24px !important; }
  .pr-md-24 { padding-right: 24px !important; }
  .px-md-24 { padding-left: 24px; padding-right: 24px !important; }
  .py-md-24 { padding-top: 24px; padding-bottom: 24px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-32 { margin: 32px !important; }
  .mt-md-32 { margin-top: 32px !important; }
  .mb-md-32 { margin-bottom: 32px !important; }
  .ml-md-32 { margin-left: 32px !important; }
  .mr-md-32 { margin-right: 32px !important; }
  .mx-md-32 { margin-left: 32px; margin-right: 32px !important; }
  .my-md-32 { margin-top: 32px; margin-bottom: 32px !important; }
  .p-md-32 { padding: 32px !important; }
  .pt-md-32 { padding-top: 32px !important; }
  .pb-md-32 { padding-bottom: 32px !important; }
  .pl-md-32 { padding-left: 32px !important; }
  .pr-md-32 { padding-right: 32px !important; }
  .px-md-32 { padding-left: 32px; padding-right: 32px !important; }
  .py-md-32 { padding-top: 32px; padding-bottom: 32px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-48 { margin: 48px !important; }
  .mt-md-48 { margin-top: 48px !important; }
  .mb-md-48 { margin-bottom: 48px !important; }
  .ml-md-48 { margin-left: 48px !important; }
  .mr-md-48 { margin-right: 48px !important; }
  .mx-md-48 { margin-left: 48px; margin-right: 48px !important; }
  .my-md-48 { margin-top: 48px; margin-bottom: 48px !important; }
  .p-md-48 { padding: 48px !important; }
  .pt-md-48 { padding-top: 48px !important; }
  .pb-md-48 { padding-bottom: 48px !important; }
  .pl-md-48 { padding-left: 48px !important; }
  .pr-md-48 { padding-right: 48px !important; }
  .px-md-48 { padding-left: 48px; padding-right: 48px !important; }
  .py-md-48 { padding-top: 48px; padding-bottom: 48px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-64 { margin: 64px !important; }
  .mt-md-64 { margin-top: 64px !important; }
  .mb-md-64 { margin-bottom: 64px !important; }
  .ml-md-64 { margin-left: 64px !important; }
  .mr-md-64 { margin-right: 64px !important; }
  .mx-md-64 { margin-left: 64px; margin-right: 64px !important; }
  .my-md-64 { margin-top: 64px; margin-bottom: 64px !important; }
  .p-md-64 { padding: 64px !important; }
  .pt-md-64 { padding-top: 64px !important; }
  .pb-md-64 { padding-bottom: 64px !important; }
  .pl-md-64 { padding-left: 64px !important; }
  .pr-md-64 { padding-right: 64px !important; }
  .px-md-64 { padding-left: 64px; padding-right: 64px !important; }
  .py-md-64 { padding-top: 64px; padding-bottom: 64px !important; }
}
@media (min-width: 768px) and ( max-width: 1023px) {
  .m-md-96 { margin: 96px !important; }
  .mt-md-96 { margin-top: 96px !important; }
  .mb-md-96 { margin-bottom: 96px !important; }
  .ml-md-96 { margin-left: 96px !important; }
  .mr-md-96 { margin-right: 96px !important; }
  .mx-md-96 { margin-left: 96px; margin-right: 96px !important; }
  .my-md-96 { margin-top: 96px; margin-bottom: 96px !important; }
  .p-md-96 { padding: 96px !important; }
  .pt-md-96 { padding-top: 96px !important; }
  .pb-md-96 { padding-bottom: 96px !important; }
  .pl-md-96 { padding-left: 96px !important; }
  .pr-md-96 { padding-right: 96px !important; }
  .px-md-96 { padding-left: 96px; padding-right: 96px !important; }
  .py-md-96 { padding-top: 96px; padding-bottom: 96px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-4 { margin: 4px !important; }
  .mt-lg-4 { margin-top: 4px !important; }
  .mb-lg-4 { margin-bottom: 4px !important; }
  .ml-lg-4 { margin-left: 4px !important; }
  .mr-lg-4 { margin-right: 4px !important; }
  .mx-lg-4 { margin-left: 4px; margin-right: 4px !important; }
  .my-lg-4 { margin-top: 4px; margin-bottom: 4px !important; }
  .p-lg-4 { padding: 4px !important; }
  .pt-lg-4 { padding-top: 4px !important; }
  .pb-lg-4 { padding-bottom: 4px !important; }
  .pl-lg-4 { padding-left: 4px !important; }
  .pr-lg-4 { padding-right: 4px !important; }
  .px-lg-4 { padding-left: 4px; padding-right: 4px !important; }
  .py-lg-4 { padding-top: 4px; padding-bottom: 4px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-8 { margin: 8px !important; }
  .mt-lg-8 { margin-top: 8px !important; }
  .mb-lg-8 { margin-bottom: 8px !important; }
  .ml-lg-8 { margin-left: 8px !important; }
  .mr-lg-8 { margin-right: 8px !important; }
  .mx-lg-8 { margin-left: 8px; margin-right: 8px !important; }
  .my-lg-8 { margin-top: 8px; margin-bottom: 8px !important; }
  .p-lg-8 { padding: 8px !important; }
  .pt-lg-8 { padding-top: 8px !important; }
  .pb-lg-8 { padding-bottom: 8px !important; }
  .pl-lg-8 { padding-left: 8px !important; }
  .pr-lg-8 { padding-right: 8px !important; }
  .px-lg-8 { padding-left: 8px; padding-right: 8px !important; }
  .py-lg-8 { padding-top: 8px; padding-bottom: 8px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-12 { margin: 12px !important; }
  .mt-lg-12 { margin-top: 12px !important; }
  .mb-lg-12 { margin-bottom: 12px !important; }
  .ml-lg-12 { margin-left: 12px !important; }
  .mr-lg-12 { margin-right: 12px !important; }
  .mx-lg-12 { margin-left: 12px; margin-right: 12px !important; }
  .my-lg-12 { margin-top: 12px; margin-bottom: 12px !important; }
  .p-lg-12 { padding: 12px !important; }
  .pt-lg-12 { padding-top: 12px !important; }
  .pb-lg-12 { padding-bottom: 12px !important; }
  .pl-lg-12 { padding-left: 12px !important; }
  .pr-lg-12 { padding-right: 12px !important; }
  .px-lg-12 { padding-left: 12px; padding-right: 12px !important; }
  .py-lg-12 { padding-top: 12px; padding-bottom: 12px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-16 { margin: 16px !important; }
  .mt-lg-16 { margin-top: 16px !important; }
  .mb-lg-16 { margin-bottom: 16px !important; }
  .ml-lg-16 { margin-left: 16px !important; }
  .mr-lg-16 { margin-right: 16px !important; }
  .mx-lg-16 { margin-left: 16px; margin-right: 16px !important; }
  .my-lg-16 { margin-top: 16px; margin-bottom: 16px !important; }
  .p-lg-16 { padding: 16px !important; }
  .pt-lg-16 { padding-top: 16px !important; }
  .pb-lg-16 { padding-bottom: 16px !important; }
  .pl-lg-16 { padding-left: 16px !important; }
  .pr-lg-16 { padding-right: 16px !important; }
  .px-lg-16 { padding-left: 16px; padding-right: 16px !important; }
  .py-lg-16 { padding-top: 16px; padding-bottom: 16px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-24 { margin: 24px !important; }
  .mt-lg-24 { margin-top: 24px !important; }
  .mb-lg-24 { margin-bottom: 24px !important; }
  .ml-lg-24 { margin-left: 24px !important; }
  .mr-lg-24 { margin-right: 24px !important; }
  .mx-lg-24 { margin-left: 24px; margin-right: 24px !important; }
  .my-lg-24 { margin-top: 24px; margin-bottom: 24px !important; }
  .p-lg-24 { padding: 24px !important; }
  .pt-lg-24 { padding-top: 24px !important; }
  .pb-lg-24 { padding-bottom: 24px !important; }
  .pl-lg-24 { padding-left: 24px !important; }
  .pr-lg-24 { padding-right: 24px !important; }
  .px-lg-24 { padding-left: 24px; padding-right: 24px !important; }
  .py-lg-24 { padding-top: 24px; padding-bottom: 24px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-32 { margin: 32px !important; }
  .mt-lg-32 { margin-top: 32px !important; }
  .mb-lg-32 { margin-bottom: 32px !important; }
  .ml-lg-32 { margin-left: 32px !important; }
  .mr-lg-32 { margin-right: 32px !important; }
  .mx-lg-32 { margin-left: 32px; margin-right: 32px !important; }
  .my-lg-32 { margin-top: 32px; margin-bottom: 32px !important; }
  .p-lg-32 { padding: 32px !important; }
  .pt-lg-32 { padding-top: 32px !important; }
  .pb-lg-32 { padding-bottom: 32px !important; }
  .pl-lg-32 { padding-left: 32px !important; }
  .pr-lg-32 { padding-right: 32px !important; }
  .px-lg-32 { padding-left: 32px; padding-right: 32px !important; }
  .py-lg-32 { padding-top: 32px; padding-bottom: 32px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-48 { margin: 48px !important; }
  .mt-lg-48 { margin-top: 48px !important; }
  .mb-lg-48 { margin-bottom: 48px !important; }
  .ml-lg-48 { margin-left: 48px !important; }
  .mr-lg-48 { margin-right: 48px !important; }
  .mx-lg-48 { margin-left: 48px; margin-right: 48px !important; }
  .my-lg-48 { margin-top: 48px; margin-bottom: 48px !important; }
  .p-lg-48 { padding: 48px !important; }
  .pt-lg-48 { padding-top: 48px !important; }
  .pb-lg-48 { padding-bottom: 48px !important; }
  .pl-lg-48 { padding-left: 48px !important; }
  .pr-lg-48 { padding-right: 48px !important; }
  .px-lg-48 { padding-left: 48px; padding-right: 48px !important; }
  .py-lg-48 { padding-top: 48px; padding-bottom: 48px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-64 { margin: 64px !important; }
  .mt-lg-64 { margin-top: 64px !important; }
  .mb-lg-64 { margin-bottom: 64px !important; }
  .ml-lg-64 { margin-left: 64px !important; }
  .mr-lg-64 { margin-right: 64px !important; }
  .mx-lg-64 { margin-left: 64px; margin-right: 64px !important; }
  .my-lg-64 { margin-top: 64px; margin-bottom: 64px !important; }
  .p-lg-64 { padding: 64px !important; }
  .pt-lg-64 { padding-top: 64px !important; }
  .pb-lg-64 { padding-bottom: 64px !important; }
  .pl-lg-64 { padding-left: 64px !important; }
  .pr-lg-64 { padding-right: 64px !important; }
  .px-lg-64 { padding-left: 64px; padding-right: 64px !important; }
  .py-lg-64 { padding-top: 64px; padding-bottom: 64px !important; }
}
@media (min-width: 1024px) and ( max-width: 1279px) {
  .m-lg-96 { margin: 96px !important; }
  .mt-lg-96 { margin-top: 96px !important; }
  .mb-lg-96 { margin-bottom: 96px !important; }
  .ml-lg-96 { margin-left: 96px !important; }
  .mr-lg-96 { margin-right: 96px !important; }
  .mx-lg-96 { margin-left: 96px; margin-right: 96px !important; }
  .my-lg-96 { margin-top: 96px; margin-bottom: 96px !important; }
  .p-lg-96 { padding: 96px !important; }
  .pt-lg-96 { padding-top: 96px !important; }
  .pb-lg-96 { padding-bottom: 96px !important; }
  .pl-lg-96 { padding-left: 96px !important; }
  .pr-lg-96 { padding-right: 96px !important; }
  .px-lg-96 { padding-left: 96px; padding-right: 96px !important; }
  .py-lg-96 { padding-top: 96px; padding-bottom: 96px !important; }
}
@media (min-width: 1280px) {
  .m-xl-4 { margin: 4px !important; }
  .mt-xl-4 { margin-top: 4px !important; }
  .mb-xl-4 { margin-bottom: 4px !important; }
  .ml-xl-4 { margin-left: 4px !important; }
  .mr-xl-4 { margin-right: 4px !important; }
  .mx-xl-4 { margin-left: 4px; margin-right: 4px !important; }
  .my-xl-4 { margin-top: 4px; margin-bottom: 4px !important; }
  .p-xl-4 { padding: 4px !important; }
  .pt-xl-4 { padding-top: 4px !important; }
  .pb-xl-4 { padding-bottom: 4px !important; }
  .pl-xl-4 { padding-left: 4px !important; }
  .pr-xl-4 { padding-right: 4px !important; }
  .px-xl-4 { padding-left: 4px; padding-right: 4px !important; }
  .py-xl-4 { padding-top: 4px; padding-bottom: 4px !important; }
}
@media (min-width: 1280px) {
  .m-xl-8 { margin: 8px !important; }
  .mt-xl-8 { margin-top: 8px !important; }
  .mb-xl-8 { margin-bottom: 8px !important; }
  .ml-xl-8 { margin-left: 8px !important; }
  .mr-xl-8 { margin-right: 8px !important; }
  .mx-xl-8 { margin-left: 8px; margin-right: 8px !important; }
  .my-xl-8 { margin-top: 8px; margin-bottom: 8px !important; }
  .p-xl-8 { padding: 8px !important; }
  .pt-xl-8 { padding-top: 8px !important; }
  .pb-xl-8 { padding-bottom: 8px !important; }
  .pl-xl-8 { padding-left: 8px !important; }
  .pr-xl-8 { padding-right: 8px !important; }
  .px-xl-8 { padding-left: 8px; padding-right: 8px !important; }
  .py-xl-8 { padding-top: 8px; padding-bottom: 8px !important; }
}
@media (min-width: 1280px) {
  .m-xl-12 { margin: 12px !important; }
  .mt-xl-12 { margin-top: 12px !important; }
  .mb-xl-12 { margin-bottom: 12px !important; }
  .ml-xl-12 { margin-left: 12px !important; }
  .mr-xl-12 { margin-right: 12px !important; }
  .mx-xl-12 { margin-left: 12px; margin-right: 12px !important; }
  .my-xl-12 { margin-top: 12px; margin-bottom: 12px !important; }
  .p-xl-12 { padding: 12px !important; }
  .pt-xl-12 { padding-top: 12px !important; }
  .pb-xl-12 { padding-bottom: 12px !important; }
  .pl-xl-12 { padding-left: 12px !important; }
  .pr-xl-12 { padding-right: 12px !important; }
  .px-xl-12 { padding-left: 12px; padding-right: 12px !important; }
  .py-xl-12 { padding-top: 12px; padding-bottom: 12px !important; }
}
@media (min-width: 1280px) {
  .m-xl-16 { margin: 16px !important; }
  .mt-xl-16 { margin-top: 16px !important; }
  .mb-xl-16 { margin-bottom: 16px !important; }
  .ml-xl-16 { margin-left: 16px !important; }
  .mr-xl-16 { margin-right: 16px !important; }
  .mx-xl-16 { margin-left: 16px; margin-right: 16px !important; }
  .my-xl-16 { margin-top: 16px; margin-bottom: 16px !important; }
  .p-xl-16 { padding: 16px !important; }
  .pt-xl-16 { padding-top: 16px !important; }
  .pb-xl-16 { padding-bottom: 16px !important; }
  .pl-xl-16 { padding-left: 16px !important; }
  .pr-xl-16 { padding-right: 16px !important; }
  .px-xl-16 { padding-left: 16px; padding-right: 16px !important; }
  .py-xl-16 { padding-top: 16px; padding-bottom: 16px !important; }
}
@media (min-width: 1280px) {
  .m-xl-24 { margin: 24px !important; }
  .mt-xl-24 { margin-top: 24px !important; }
  .mb-xl-24 { margin-bottom: 24px !important; }
  .ml-xl-24 { margin-left: 24px !important; }
  .mr-xl-24 { margin-right: 24px !important; }
  .mx-xl-24 { margin-left: 24px; margin-right: 24px !important; }
  .my-xl-24 { margin-top: 24px; margin-bottom: 24px !important; }
  .p-xl-24 { padding: 24px !important; }
  .pt-xl-24 { padding-top: 24px !important; }
  .pb-xl-24 { padding-bottom: 24px !important; }
  .pl-xl-24 { padding-left: 24px !important; }
  .pr-xl-24 { padding-right: 24px !important; }
  .px-xl-24 { padding-left: 24px; padding-right: 24px !important; }
  .py-xl-24 { padding-top: 24px; padding-bottom: 24px !important; }
}
@media (min-width: 1280px) {
  .m-xl-32 { margin: 32px !important; }
  .mt-xl-32 { margin-top: 32px !important; }
  .mb-xl-32 { margin-bottom: 32px !important; }
  .ml-xl-32 { margin-left: 32px !important; }
  .mr-xl-32 { margin-right: 32px !important; }
  .mx-xl-32 { margin-left: 32px; margin-right: 32px !important; }
  .my-xl-32 { margin-top: 32px; margin-bottom: 32px !important; }
  .p-xl-32 { padding: 32px !important; }
  .pt-xl-32 { padding-top: 32px !important; }
  .pb-xl-32 { padding-bottom: 32px !important; }
  .pl-xl-32 { padding-left: 32px !important; }
  .pr-xl-32 { padding-right: 32px !important; }
  .px-xl-32 { padding-left: 32px; padding-right: 32px !important; }
  .py-xl-32 { padding-top: 32px; padding-bottom: 32px !important; }
}
@media (min-width: 1280px) {
  .m-xl-48 { margin: 48px !important; }
  .mt-xl-48 { margin-top: 48px !important; }
  .mb-xl-48 { margin-bottom: 48px !important; }
  .ml-xl-48 { margin-left: 48px !important; }
  .mr-xl-48 { margin-right: 48px !important; }
  .mx-xl-48 { margin-left: 48px; margin-right: 48px !important; }
  .my-xl-48 { margin-top: 48px; margin-bottom: 48px !important; }
  .p-xl-48 { padding: 48px !important; }
  .pt-xl-48 { padding-top: 48px !important; }
  .pb-xl-48 { padding-bottom: 48px !important; }
  .pl-xl-48 { padding-left: 48px !important; }
  .pr-xl-48 { padding-right: 48px !important; }
  .px-xl-48 { padding-left: 48px; padding-right: 48px !important; }
  .py-xl-48 { padding-top: 48px; padding-bottom: 48px !important; }
}
@media (min-width: 1280px) {
  .m-xl-64 { margin: 64px !important; }
  .mt-xl-64 { margin-top: 64px !important; }
  .mb-xl-64 { margin-bottom: 64px !important; }
  .ml-xl-64 { margin-left: 64px !important; }
  .mr-xl-64 { margin-right: 64px !important; }
  .mx-xl-64 { margin-left: 64px; margin-right: 64px !important; }
  .my-xl-64 { margin-top: 64px; margin-bottom: 64px !important; }
  .p-xl-64 { padding: 64px !important; }
  .pt-xl-64 { padding-top: 64px !important; }
  .pb-xl-64 { padding-bottom: 64px !important; }
  .pl-xl-64 { padding-left: 64px !important; }
  .pr-xl-64 { padding-right: 64px !important; }
  .px-xl-64 { padding-left: 64px; padding-right: 64px !important; }
  .py-xl-64 { padding-top: 64px; padding-bottom: 64px !important; }
}
@media (min-width: 1280px) {
  .m-xl-96 { margin: 96px !important; }
  .mt-xl-96 { margin-top: 96px !important; }
  .mb-xl-96 { margin-bottom: 96px !important; }
  .ml-xl-96 { margin-left: 96px !important; }
  .mr-xl-96 { margin-right: 96px !important; }
  .mx-xl-96 { margin-left: 96px; margin-right: 96px !important; }
  .my-xl-96 { margin-top: 96px; margin-bottom: 96px !important; }
  .p-xl-96 { padding: 96px !important; }
  .pt-xl-96 { padding-top: 96px !important; }
  .pb-xl-96 { padding-bottom: 96px !important; }
  .pl-xl-96 { padding-left: 96px !important; }
  .pr-xl-96 { padding-right: 96px !important; }
  .px-xl-96 { padding-left: 96px; padding-right: 96px !important; }
  .py-xl-96 { padding-top: 96px; padding-bottom: 96px !important; }
}


/* CUSTOM CSS HERE */
  .carousel-item img {
    object-fit: cover;    
  }

  .carousel-inner {
    max-height: 600px;
    overflow:hidden;
  }

  .chairman{
    max-height:400px;
    overflow: hidden;
  }

  .chairman img{
    object-fit: cover;

  }

  .footer ul li{
    text-decoration: none;
    list-style-type: none;
  }
  .footer ul{
    margin:0 !important;
    padding:0 !important;
  }
  .icons a{
    color:var(--black-500);
  }

  .navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0;
    background: var(--blue-500);
  }
  
  .dropdown-item {
    color:var(--white-100)
  }
  .navbar-nav{
    align-items: center !important;
  }


  .nav-item.dropdown .nav-link.active {
    color: #fff; /* Change this to your desired text color */
    background-color: #007bff; /* Change this to your desired background color */
    border-radius: 5px; /* Optional, for rounded corners */
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.navbar{
  padding:0;
}
.nav-link{
  padding:16px 4px;
}
.nav-item{
  margin:0px;
}
.nav-item a:hover{
  background-color: var(--white-80) !important;
  color:var(--black-500) !important;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news .side-image-container{
  height:250px !important;
}

.news .side-image-container img{
  height:100% !important;
  object-fit: cover;
}

.news .main-image-container{
  height:520px !important;
}

.news .main-image-container img{
  height:100% !important;
  object-fit: cover;}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  text-align: left;
}

.overlay-text .badge {
  margin-right: 5px;
}

.row .col-lg-6.col-12.py-8 {
  padding: 10px;
}

.row .col-lg-6.col-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.news .image-container a{
  color:var(--white-100) !important;
  text-decoration: none;
}
.news .image-container a:hover{
  color:var(--white-100) !important;
  text-decoration: underline;
  transition: 1s all ease-in-out;
}


.card .card-body a{
  text-decoration: underline;
}

.card .card-body .btn-link:hover{
  color:var(--blue-400) !important;
  text-decoration: underline;
}

.card{
  border:0;
  border-radius: 0;
}

.cat-title{
  text-decoration: none !important;
  color: var(--black-500);
}
.cat-title:hover{
  text-decoration: underline !important;
  transition: 1s ease-in-out;
}

.footer a{
  color:var(--white-100);
  text-decoration: none;
}

.footer a:hover{
  color: var(--white-80);
  text-decoration: underline;
}
/* For screens with a width of 768px or less */
@media screen and (max-width: 768px) {
  .overlay-text {
    padding: 10px;
  }

  .overlay-text h3 {
    font-size: 14px;
  }

  .overlay-text p {
    font-size: 10px;
  }
  .navbar-toggler {
    background-color: var(--white-100);
    border: none;
    border-radius: 0;
  }   
}
  .cat-img{
    height:180px;
  }
  .cat-img img{
    height:100%;
    object-fit: cover;
  }
/* For Large Mobile devices (e.g., iPhone 13 Pro Max, Galaxy S22) */
@media (min-width: 250px) and (max-width: 500px) {
  .yt-video iframe{
    height:200px!important;
  }
  .news .main-image-container{
    height:200px !important;
    
  }
  
  .news .side-image-container{
    height:200px !important;
  }

  .w-b-100 {
    width: 100%;
  }

  .dropdown:hover .dropdown-menu {
    display: block; /* Fixed invalid 'revert-layer' */
    margin-top: 0;
  }

  .navbar-nav {
    align-items: flex-start !important;
  }



  .logo img {
    width: 20%;
  }

  .carousel-inner {
    max-height: 230px;
    overflow: hidden;
  }

  .carousel-item img {
    height: 370px;
  }

  ._2p3a {
    width: 360px !important;
  }

  /* Overriding iframe width for this breakpoint */
  .fb-page iframe {
    width: 292px !important;
  }
  .fb-page span {
    width: 292px !important;
    height:420px !important;
  }
}

/* For Medium Mobile devices (e.g., iPhone SE, small Android devices) */
@media (min-width: 375px) and (max-width: 424px) {
  .fb-page iframe {
    width: 346px !important;
  }
}

/* For Larger Mobile devices (e.g., iPhone 6/7/8 Plus) */
@media (min-width: 425px) and (max-width: 450px) {
  .fb-page iframe {
    width: 396px !important;
  }
}

/* For Small Tablets (e.g., iPad Mini) */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    align-items: flex-start !important;
  }

  .navbar-toggler {
    background-color: var(--white-100);
    border: none;
    border-radius: 0;
  }
}

/* For Large Tablets (e.g., iPad Pro 11") */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Add specific styles for large tablets here */
}

/* For Small Desktops (e.g., Laptops with smaller screens) */
@media (min-width: 1200px) and (max-width: 1439px) {
  /* Add specific styles for small desktops here */
}


